<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85ff7e">  <td>24/02/07 20:18:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Becs.Setup()[pri:0, instance:testcase.Becs@5524cca1]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@1777238524</td>   <td></td> </tr>
<tr bgcolor="85ff7e">  <td>24/02/07 20:18:21</td>   <td>7587</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Becs.ForBECS()[pri:0, instance:testcase.Becs@5524cca1]">ForBECS</td> 
  <td>main@1777238524</td>   <td></td> </tr>
<tr bgcolor="85ff7e">  <td>24/02/07 20:18:44</td>   <td>29797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Becs.teardown()[pri:0, instance:testcase.Becs@5524cca1]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1777238524</td>   <td></td> </tr>
</table>
